.services {
  &__list {
    padding: 20px 12px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    flex-basis: 370px;
    color: $secondary-dark-color;
    font-family: $secondary-font;

    &:nth-child(-n + 3) {
      margin-bottom: 100px;
    }

    &-title {
      @extend %section-item-title;
    }

    &-description {
      line-height: 24px;
    }

    &-icon {
      padding-left: 80px;
      background-repeat: no-repeat;
      background-position-x: 20px;
    }
  }
}

@include generate-icons(
  'services__item-icon_',
  $icons,
  '../images/icons/',
  'svg'
);
