$primary-color: #95e1d3;
$primary-accent-color: #f38181;
$secondary-color: #fce38a;
$gradient-color: linear-gradient(#f38181e6, #fce38ae6);
$white-color: #fff;
$primary-dark-color: #333333;
$secondary-dark-color: #999999;
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$decor-font: 'Kaushan Script', cursive;
$common-text-size: 15px;
$h2-size: 30px;
$h3-size: 14px;
$icons: alarm, graph, monitor, book, home, digital;
